services:
  overpass:
    image: overpass-native
    container_name: overpass_local
    ports:
      - "12345:80"
    environment:
      - OVERPASS_META=no
      - OVERPASS_MODE=init
      - OVERPASS_PLANET_URL=/data/monaco.osm.bz2
      - OVERPASS_USE_AREAS=0
      - OVERPASS_RULES_LOAD=1
      - OVERPASS_ALLOW_DUPLICATE_QUERIES=no
    volumes:
      - ./overpass-db:/db
      - ./data:/data
    healthcheck:
      test: curl --noproxy '*' -qfg 'http://localhost/api/interpreter?data=[out:json];node(1);out;' \
        | jq '.generator' | grep -q Overpass || exit 1
      start_period: 48h